In [14]:
from bs4 import BeautifulSoup 
import urllib.request
import ssl
from dotenv import load_dotenv
import openai
import os
import requests
import warnings
warnings.filterwarnings("ignore")
from tqdm import tqdm
import pandas as pd
import json
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
)
import re
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy import text 
import chromadb

Creating tables for US:   0%|          | 0/24 [00:49<?, ?it/s]

In [41]:
ssl._create_default_https_context = ssl._create_stdlib_context
html_link = "https://pages.stern.nyu.edu/~adamodar/New_Home_Page/datacurrent.html"

with urllib.request.urlopen(html_link) as url:
    s = url.read()
    # I'm guessing this would output the html source code ?
    soup = BeautifulSoup(s,"lxml")

html_table = soup.find_all("table")
req_table = html_table[1]
hrefs_list = req_table.find_all('a')

In [42]:
req_href = {"US":[],"Europe":[],"Japan":[],"AUS_NZ_CANADA":[],"Emerging":[],"China":[],"India":[],"Global":[]}

for i in hrefs_list:
    name = i.get_text().strip()
    try:
        href_attr = i['href']
        if href_attr.endswith('.xls'):
            if "US" in name:
                req_href["US"].append(href_attr)
            elif "Europe" in name:
                req_href["Europe"].append(href_attr)
            elif "Japan" in name:
                req_href["Japan"].append(href_attr)
            elif "Aus" in name:
                req_href['AUS_NZ_CANADA'].append(href_attr)
            elif "Emerging" in name:
                req_href['Emerging'].append(href_attr)
            elif "China" in name:
                req_href['China'].append(href_attr)
            elif "India" in name:
                req_href['India'].append(href_attr)
            elif "Global" in name: 
                req_href['Global'].append(href_attr)
    except:
        pass

In [93]:

ssl._create_default_https_context = ssl._create_stdlib_context

import os
os.makedirs("DATA",exist_ok=True)
for country,excel_files in req_href.items():
    country_path = os.path.join("DATA",country) 
    os.makedirs(country_path,exist_ok=True)
    for file in excel_files:
        file_name = file.split("/")[-1].split(".")[0]
        full_file_name = os.path.join(country_path,f"{file_name}.xls")
        resp = requests.get(file,verify=False)
        output = open(full_file_name, 'wb')
        output.write(resp.content)
        output.close()

In [35]:
for country in os.listdir("DATA"):
    dir_len = len(os.listdir(os.path.join("DATA",country)))
    country_len = len(req_href[country])
    print(f'FOR {country} WE HAVE DIRECTORY LEN = {dir_len} and ACTUAL LEN = {country_len}')

FOR Emerging WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR Europe WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR Global WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR AUS_NZ_CANADA WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR China WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR Japan WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR US WE HAVE DIRECTORY LEN = 24 and ACTUAL LEN = 24
FOR India WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29

In [38]:
import pandas as pd
from tqdm import tqdm
import json
pd.set_option('display.max_rows', 50)

def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)

dir = "DATA2"
processed_dir = "Processed Data"
all_infos_dict = []
os.makedirs(processed_dir,exist_ok=True)
for country in os.listdir(dir):
    print(country)
    file_name = os.path.join(dir,country)
    os.makedirs(os.path.join(processed_dir,country),exist_ok=True)
    os.makedirs(file_name,exist_ok=True)
    for excel_file in tqdm(os.listdir(file_name)):
        full_file_name = os.path.join(file_name,excel_file)
        xls = pd.ExcelFile(full_file_name)
        sns = xls.sheet_names
        for sheet_name in sns:
            if "Var" in sheet_name or "var" in sheet_name:
                info_df = xls.parse(sheet_name)
                info_df = xls.parse(sheet_name)
                info_df.dropna(how="all",inplace=True)
                info_dict = {}
                for cols in info_df.columns:
                    if "End" not in cols and 'Unnamed' not in cols:
                        info_dict['Summary'] = cols
                info_dict['Vars'] = info_df.values[1:].tolist()
                all_infos_dict.append(info_dict)
            elif "Industry" in sheet_name or "industry" in sheet_name:
                data_df = xls.parse(sheet_name)
        try:
            data_df.dropna(axis=1,thresh=5,inplace=True)
            data_df.dropna(inplace=True)
            new_header = data_df.iloc[0] #grab the first row for the header
        except:
            print(full_file_name)
            print(data_df)
        data_df = data_df[1:] #take the data less the header row
        data_df.reset_index(inplace=True,drop=True)
        new_header = [sanitize_column_name(str(col)) for col in new_header]
        data_df.columns = new_header #set the header row as the df header
        save_name = full_file_name.split(".")[0].split("/")[-1]
        save_file_path = os.path.join(os.path.join(processed_dir,country),save_name)
        data_df.to_csv(save_file_path+".csv",index=False)
        # with open(save_file_path+".json", "w") as outfile: 
        #     json.dump(info_dict, outfile)

Emerging

100%|██████████| 29/29 [00:00<00:00, 86.52it/s]

Europe

100%|██████████| 29/29 [00:00<00:00, 94.75it/s]

Global

100%|██████████| 29/29 [00:00<00:00, 102.75it/s]

AUS_NZ_CANADA

100%|██████████| 29/29 [00:00<00:00, 104.23it/s]

China

100%|██████████| 29/29 [00:00<00:00, 103.50it/s]

Japan

100%|██████████| 29/29 [00:00<00:00, 66.34it/s]

US

100%|██████████| 24/24 [00:00<00:00, 102.91it/s]

India

100%|██████████| 29/29 [00:00<00:00, 100.35it/s]

In [196]:
all_infos_dict[0]

{'Summary': 'Measures of accounting returns, to all claim holders (and from operations)',
 'Vars': [['Number of firms',
   'Number of firms in the industry grouping.',
   'Law of large numbers?'],
  ['R&D Capitalized',
   'My estimate of R&D capitalization, based upon a 5-year straight line amortization period, aggregated across firms in the group',
   'Capitalized value of R&D gets added on to book equity and to invested capital'],
  ['Capitalized R&D as percent of invested capital',
   'My R&D capitalization estimate, as a percent of invested capital including that number, based upon aggregated values across firms',
   'Magnitude of investment in R&D, relative to investment in more traditional capital expenditures.'],
  ['R&D -LTM',
   'Aggregated R&D expenses across the last twelve months, across companies in the group.',
   'Spending on R&D in most recent year'],
  ['R&D: Years minus 1 to minus 5',
   'Aggregated R&D expenses for each of the previous five years, across companies in the group.',
   'Sepnding on R&D over last five years']]}

In [197]:
df = pd.read_csv("Processed Data/US/capex.csv")
df.head()

,Industry_Name,Number_of_Firms,Capital_Expenditures_(US_$_millions),Depreciation_&_Amort_((US_$_millions),Cap_Ex/Deprecn,Acquisitions_(US_$_millions),Net_R&D_(US_$_millions),Net_Cap_Ex/Sales,Net_Cap_Ex/_EBIT_(1-t),Sales/_Invested_Capital_(LTM)
0,Advertising,57,775.729,1887.338,0.411018,322.559,75.0800,-0.016886,-0.218120,3.283403
1,Aerospace/Defense,70,10982.128,13311.598,0.825004,10344.750,830.4634,0.022829,0.318077,1.984340
2,Air Transport,25,25559.725,10609.948,2.409034,368.210,73.5486,0.067203,1.355173,1.777320
3,Apparel,38,1730.981,1386.480,1.248472,38.739,0.9474,0.005365,0.072557,1.773076
4,Auto & Truck,34,29899.486,18677.668,1.600815,193.220,983.0696,0.026577,0.675918,1.048732

## BUILD TABLE NAMES AND METADATA

In [199]:
df.head(10).to_csv()

',Industry_Name,Number_of_Firms,Capital_Expenditures_(US_$_millions),Depreciation_&_Amort_((US_$_millions),Cap_Ex/Deprecn,Acquisitions_(US_$_millions),Net_R&D_(US_$_millions),Net_Cap_Ex/Sales,Net_Cap_Ex/_EBIT_(1-t),Sales/_Invested_Capital_(LTM)\n0,Advertising,57,775.729,1887.338,0.4110175283918408,322.559,75.07999999999993,-0.0168860862168837,-0.2181203933865563,3.283403041333076\n1,Aerospace/Defense,70,10982.128,13311.597999999998,0.8250044810547916,10344.749999999998,830.4633999999933,0.0228292321038578,0.318077061754813,1.9843395804666923\n2,Air Transport,25,25559.725,10609.948,2.4090339556800844,368.21,73.5486000000019,0.0672027546276203,1.3551729988499104,1.7773199625336142\n3,Apparel,38,1730.9809999999998,1386.4799999999996,1.2484716692631703,38.739,0.9473999999991064,0.0053650838666078,0.0725567415076527,1.7730762352050575\n4,Auto & Truck,34,29899.486,18677.668,1.6008147269776931,193.22,983.0695999999988,0.0265766732899557,0.6759175844836917,1.048731678622114\n5,Auto Parts,39,3565.4210000000007,2034.471,1.7525051966825778,1061.7600000000002,454.9352000000008,0.0316936036463534,0.8398185079860373,2.004790963758861\n6,Beverage (Alcoholic),19,2244.8160000000007,864.0629999999999,2.59797723082692,1370.0,0.0,0.0939030584900288,0.6367443614850201,0.8968231153352131\n7,Beverage (Soft),29,7926.687000000001,4543.389,1.7446639501922463,674.6669999999999,7.705600000001141,0.0238699281532688,0.1517545513863501,1.6931990505110932\n8,Broadcasting,22,1837.548,3387.6400000000003,0.5424271764414165,43.856,0.2399999999997817,-0.0206121524427381,-0.2104150803584717,1.1159893806472496\n9,Brokerage & Investment Banking,27,7783.945999999999,4646.382,1.675270350134793,876.0999999999999,-189.38079999999945,0.0167661627913481,3.4298253908840737,0.2794992243703733\n'

In [6]:

load_dotenv(override=True)
openai.api_key = os.environ['OPENAI_API_KEY']

In [8]:
import dspy
turbo = dspy.OpenAI(model='gpt-3.5-turbo-instruct', max_tokens=250)
dspy.settings.configure(lm=turbo)

class SQLTableMetadata(dspy.Signature):
    """Give a suitable table name and description about the given table"""
    pandas_dataframe_str = dspy.InputField(desc="First 10 rows of a pandas dataframe delimited by newline character")
    table_name = dspy.OutputField(desc="suitable table name")
    table_summary = dspy.OutputField(desc="a summary about the table")

class CoT(dspy.Module):
    def __init__(self):
        super().__init__()
        self.prog = dspy.ChainOfThought(SQLTableMetadata)
    
    def forward(self, pandas_dataframe_str):
        return self.prog(pandas_dataframe_str=pandas_dataframe_str)

cot = CoT()

# cot(pandas_dataframe_str = df.head(10).to_csv())

In [9]:
processed_dir = "Processed Data"

for country in os.listdir(processed_dir):
    country_folder = os.path.join(processed_dir,country)
    print(f"{country}")
    for files in tqdm(os.listdir(country_folder)):
        # print(files)
        if files.endswith(".csv"):
            file_name = files.split(".")[0]
            csv_file_path = os.path.join(country_folder,files)
            df = pd.read_csv(csv_file_path,index_col=False)
            json_file_path = os.path.join(country_folder,f"{file_name}.json")
            with open(json_file_path,'r') as f:
                data = json.loads(f.read())
            if 'table_name' in data and 'table_summary' in data:
                # if data['table_name'] == "" or data['table_summary'] == "":
                if data['table_summary'] == "":
                    pass
                else:
                    continue
            table_preds = cot(pandas_dataframe_str = df.head(10).to_csv())
            data['table_name'] = table_preds.table_name
            data['table_summary'] = table_preds.table_summary
            with open(json_file_path,'w') as f:
                json.dump(data, f)

US

100%|██████████| 48/48 [08:18<00:00, 10.39s/it]

India

100%|██████████| 58/58 [12:00<00:00, 12.43s/it]

## NEXT TASKS
1. Build database with each region for each table
2. Embed the table summary and table SCHEMA. Also, embed the table rows
3. Retrieval at table level and embed the rows to retrieve relevant rows from the retrieved schema of table
4. Final LLM call

In [6]:
# Function to create a sanitized column name
def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)


# Function to create a table from a DataFrame using SQLAlchemy
def create_table_from_dataframe(
    df: pd.DataFrame, table_name: str, engine, metadata_obj
):
    # Sanitize column names
    sanitized_columns = {col: sanitize_column_name(col) for col in df.columns}
    df = df.rename(columns=sanitized_columns)

    # Dynamically create columns based on DataFrame columns and data types
    columns = [
        Column(col, String if dtype == "object" else Integer)
        for col, dtype in zip(df.columns, df.dtypes)
    ]

    # Create a table with the defined columns
    table = Table(table_name, metadata_obj, *columns)

    # Create the table in the database
    metadata_obj.create_all(engine)

    # Insert data from DataFrame into the table
    with engine.connect() as conn:
        for _, row in df.iterrows():
            insert_stmt = table.insert().values(**row.to_dict())
            conn.execute(insert_stmt)
        conn.commit()

## DATABASE FOR US

In [7]:
processed_dir  = "Processed Data"
def sqlalchemy_engine(region:str):
    """Create a SQLAlchemy engine for the given region"""
    assert region in os.listdir(processed_dir), f"{region} is not a valid region from {os.listdir(processed_dir)}"
    engine = create_engine(f"sqlite:///{region}.db")
    metadata_obj = MetaData()
    region_path = os.path.join(processed_dir,region)
    dfs = []
    for dataframes_path in os.listdir(region_path):
        if dataframes_path.endswith(".csv"):
            df = pd.read_csv(os.path.join(region_path,dataframes_path),index_col=False)
            dfs.append((dataframes_path,df))
    pbar = tqdm(total=len(dfs),desc=f"Creating tables for {region}")
    for _, df_table_name in enumerate(dfs):
        table_name = df_table_name[0]
        table_name = table_name.split(".")[0]
        df = df_table_name[1]
        # print(f"Creating table: {table_name}")
        create_table_from_dataframe(df,table_name, engine, metadata_obj)
        # print(f"Done creating table for: {table_name}")
        pbar.update(1)
    return engine

In [8]:
us_engine = sqlalchemy_engine("US")
india_engine = sqlalchemy_engine("India")
china_engine = sqlalchemy_engine("China")
europe_engine = sqlalchemy_engine("Europe")
global_engine = sqlalchemy_engine("Global")
aus_nz_canada_engine = sqlalchemy_engine("AUS_NZ_CANADA")
japan_engine = sqlalchemy_engine("Japan")
emerging_engine = sqlalchemy_engine("Emerging")

Creating tables for US: 100%|██████████| 24/24 [00:00<00:00, 29.65it/s]
Creating tables for India: 100%|██████████| 29/29 [00:00<00:00, 31.34it/s]
Creating tables for China: 100%|██████████| 29/29 [00:01<00:00, 28.19it/s]
Creating tables for Europe: 100%|██████████| 29/29 [00:00<00:00, 30.01it/s]
Creating tables for Global: 100%|██████████| 29/29 [00:01<00:00, 26.46it/s]
Creating tables for AUS_NZ_CANADA: 100%|██████████| 29/29 [00:00<00:00, 31.96it/s]
Creating tables for Japan: 100%|██████████| 29/29 [00:00<00:00, 32.00it/s]
Creating tables for Emerging: 100%|██████████| 29/29 [00:00<00:00, 30.77it/s]

In [10]:
def get_table_infos(sql_engine:sqlalchemy.engine.base.Engine,region:str):
    """Get all tables in the database"""
    inspector = inspect(sql_engine)
    table_names = inspector.get_table_names()
    table_infos_dict = {tb: [] for tb in table_names}
    for tb in table_names:
        column_dict = inspector.get_columns(tb)
        schema_str = ""
        primary_keys = []
        for col in column_dict:
            schema_str += f"{col['name']} ({col['type']}), "
            if col["primary_key"] not in primary_keys:
                primary_keys.append(col["name"])
        with open(os.path.join(processed_dir,region,f"{tb}.json")) as f:
            table_info = json.loads(f.read())
        table_infos_dict[tb] = [
            {
                "table_info": f"Table {tb} has columns: {schema_str[:-2]}",
                "table_summary": f'{table_info["Summary"]}. {table_info["table_summary"]}',
            }
        ]
    return table_infos_dict

In [11]:
us_tb_dict = get_table_infos(us_engine,"US")
india_tb_dict = get_table_infos(india_engine,"India")
china_tb_dict = get_table_infos(china_engine,"China")
europe_tb_dict = get_table_infos(europe_engine,"Europe")
global_tb_dict = get_table_infos(global_engine,"Global")
aus_nz_canada_tb_dict = get_table_infos(aus_nz_canada_engine,"AUS_NZ_CANADA")
japan_tb_dict = get_table_infos(japan_engine,"Japan")
emerging_tb_dict = get_table_infos(emerging_engine,"Emerging")

## EMBEDDINGS

1. Embed the table summary and table SCHEMA to get the table that the user is looking for
2. Embed the table rows for each table, so as to get relevant rows from the retrieved table

## EMBED THE TABLE SUMMARY AND TABLE SCHEMA

In [16]:
import chromadb
import chromadb.utils.embedding_functions as embedding_functions
from chromadb.utils.batch_utils import create_batches

load_dotenv(override=True)
emb_fn = embedding_functions.OpenAIEmbeddingFunction(
                api_key=os.environ['OPENAI_API_KEY'],
                model_name="text-embedding-3-small")
# EMBEDDING_MODEL = "mixedbread-ai/mxbai-embed-large-v1"
# emb_fn = embedding_functions.HuggingFaceEmbeddingFunction(model_name=EMBEDDING_MODEL,api_key=os.environ["HF_API_KEY"])
def embed_table_info(region:str,tb_dict):
    client = chromadb.PersistentClient(path=f"{region}_TABLE")

    table_collection = client.get_or_create_collection(name="table",embedding_function=emb_fn)

    table_docs = []
    table_metadata = []


    for table_name,table_data in tb_dict.items():
        table_docs.append(table_data[0]['table_info'] + ". " + table_data[0]['table_summary'])
        table_metadata.append({"table_name":table_name,'table_metadata':table_data[0]['table_info']})
    table_ids = [f"id{i}" for i in range(len(table_docs))]
    assert len(table_docs) == len(table_metadata)

    batches = create_batches(api=client,ids=table_ids, documents=table_docs, metadatas=table_metadata)
    for batch in tqdm(batches,desc="Embedding table info"):
        table_collection.add(ids=batch[0],
                    documents=batch[3],
                    metadatas=batch[2])

In [8]:
region = "US"

def embed_rows(region:str,batch_size:int=24):
    client = chromadb.PersistentClient(path=f"{region}_TABLE")

    rows_collection = client.get_or_create_collection(name="rows",embedding_function=emb_fn)

    rows_docs = []
    rows_metadata = []
    region_path = os.path.join(processed_dir,region)
    for df_path in os.listdir(region_path):
        df_full_path = os.path.join(region_path,df_path)
        df = pd.read_csv(df_full_path,index_col=False)
        for idx,row in df.iterrows():
            row_str = ""
            for rv in row.values:
                row_str+=str(rv) + ", "
                row_str = row_str.replace('"',"")
                row_str = row_str.replace("'",'"')
            rows_docs.append(row_str[:-2])
            rows_metadata.append({"table_name":df_path.split(".")[0],"region":region,"index":idx})
    row_ids = [f"id{i}" for i in range(len(rows_docs))]
    # print(len(rows_docs),len(rows_metadata))
    assert len(rows_docs) == len(rows_metadata) == len(row_ids)

    for start in tqdm(range(0,len(rows_docs),batch_size),desc="Embedding rows"):
        end = min(start+batch_size,len(rows_docs))
        batch_ids = row_ids[start:end]
        batch_rows = rows_docs[start:end]
        batch_metadatas = rows_metadata[start:end]
        rows_collection.add(ids=batch_ids,
                    documents=batch_rows,
                    metadatas=batch_metadatas)

In [9]:
# region = "US"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,500)

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  1.81it/s]
Embedding rows: 100%|██████████| 5/5 [01:09<00:00, 13.91s/it]

In [10]:
# region = "India"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.73s/it]
Embedding rows: 100%|██████████| 3/3 [00:50<00:00, 16.77s/it]

In [11]:
# region = "China"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  1.94it/s]
Embedding rows: 100%|██████████| 3/3 [00:49<00:00, 16.60s/it]

In [12]:
# region = "Europe"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.69s/it]
Embedding rows: 100%|██████████| 3/3 [01:09<00:00, 23.28s/it]

In [13]:
# region = "Global"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.66s/it]
Embedding rows: 100%|██████████| 3/3 [00:49<00:00, 16.37s/it]

In [14]:
# region = "Emerging"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.73s/it]
Embedding rows: 100%|██████████| 3/3 [01:13<00:00, 24.62s/it]

In [15]:
# region = "Japan"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  1.99it/s]
Embedding rows: 100%|██████████| 3/3 [01:09<00:00, 23.07s/it]

In [16]:
# region = "AUS_NZ_CANADA"
# embed_table_info(region,us_tb_dict)
# embed_rows(region,1104)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.70s/it]
Embedding rows: 100%|██████████| 3/3 [00:48<00:00, 16.07s/it]

## TEXT-TO-SQL PIPELINE

### LOAD DATABASE

In [12]:
region = "US"

db_dict = {
    "US":us_engine,
    "India":india_engine,
    "China":china_engine,
    "Europe":europe_engine,
    "Global":global_engine,
    "AUS_NZ_CANADA":aus_nz_canada_engine,
    "Japan":japan_engine,
    "Emerging":emerging_engine,
}

def get_collections_db(region:str):
    client = chromadb.PersistentClient(path=f"{region}_TABLE")
    table_collection = client.get_collection(name="table",embedding_function=emb_fn)
    row_collection = client.get_collection(name="rows",embedding_function=emb_fn)
    return [db_dict[region],table_collection,row_collection]

In [17]:
db_collection_dict = {
    "US":get_collections_db("US"),
    "India":get_collections_db("India"),
    "China":get_collections_db("China"),
    "Europe":get_collections_db("Europe"),
    "Global":get_collections_db("Global"),
    "AUS_NZ_CANADA":get_collections_db("AUS_NZ_CANADA"),
    "Japan":get_collections_db("Japan"),
    "Emerging":get_collections_db("Emerging"),
}

In [18]:
db_collection_dict['US']

[Engine(sqlite:///US.db), Collection(name=table), Collection(name=rows)]

In [35]:
import dspy
load_dotenv(override=True)
text_to_sql = dspy.OpenAI(model='gpt-3.5-turbo-instruct', max_tokens=500)
# text_to_sql = dspy.Google(model="models/gemini-1.5-pro", max_output_tokens=500)

class TextToSQLAnswer(dspy.Signature):
    """Convert natural language text to SQL using suitable schema(s) from multiple schema choices"""

    question:str = dspy.InputField(desc="natural language input which will be converted to SQL")
    relevant_table_schemas_rows:str = dspy.InputField(desc="Schemas of the multiple possible tables alongwith relevant rows from the table (values in the same order as columns above)")
    sql:str = dspy.OutputField(desc="SQL output with correct column names using suitable schema(s)")

# class SQLToAnswer(dspy.Signature):
dspy.settings.configure(lm=text_to_sql)
class TextToSQLQueryModule(dspy.Module):
    def __init__(self,region:str,use_cot:bool=True):
        super().__init__()
        self.region = region
        db,table_collection,row_collection = db_collection_dict[region]
        self.table_collection = table_collection
        self.use_cot = use_cot
        self.db = db
        self.row_collection = row_collection
        if self.use_cot == True:
            self.sqlAnswer = dspy.ChainOfThought(TextToSQLAnswer)
        else:
            self.sqlAnswer = dspy.Predict(TextToSQLAnswer)
        
    def forward(self,question:str):
        question_emb = emb_fn.embed_with_retries(question)
        docs = self.table_collection.query(
            # query_texts=question,
            query_embeddings = question_emb,
            n_results = 5
        )
        # relevant_table_schemas = ""
        relevant_rows_schemas = ""
        existing_table_names = []
        for table_idx,metadata_name in enumerate(docs['metadatas'][0]):
            table_metadata = metadata_name['table_metadata']
            # relevant_table_schemas += f'Schema {idx+1}: {table_metadata}\n'
            table_name = metadata_name['table_name']
            if table_name in existing_table_names: 
                continue
            existing_table_names.append(table_name)
            # print(table_name)
            rows = self.row_collection.query(
                # query_texts=question,
                query_embeddings = question_emb,
                n_results = 3,
                where = {"table_name":table_name}
            )
            relevant_rows_schemas += f'Schema {table_idx+1}: {table_metadata}\n'
            for row_idx,row in enumerate(rows['documents'][0]):
                relevant_rows_schemas += f'\tRow {row_idx+1}: {row}\n'
            relevant_rows_schemas += '\n\n'
        print(relevant_rows_schemas)
        sql_query = self.sqlAnswer(question=question,relevant_table_schemas_rows=relevant_rows_schemas)
        return sql_query

tsql = TextToSQLQueryModule("US")
sq = tsql(question="How does the beta of utility companies compare to Packaging industry?")

Schema 1: Table histgr has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), CAGR_in_Net_Income_Last_5_years (INTEGER), CAGR_in_Revenues_Last_5_years (INTEGER), Expected_Growth_in_Revenues_Next_2_years (INTEGER), Expected_growth_in_Revenues_Next_5_years (INTEGER), Expected_Growth_in_EPS_Next_5_years (INTEGER)
	Row 1: Heathcare Information and Technology, 128, 0.2291124999999999, 0.1966670689655173, 0.1482884810126581, 0.1667594853751504, 0.1027218749999999
	Row 2: Hospitals/Healthcare Facilities, 32, 0.0409985714285714, 0.181068947368421, 0.0413333333333333, 0.0408655475254498, 0.1064555555555555
	Row 3: Healthcare Support Services, 119, 0.0625710344827586, 0.1242187719298245, 0.0938797014925373, 0.1106991073675205, 0.1118653846153846


Schema 2: Table wacc has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), Cost_of_Equity (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER), Cost_of_Capital (INTEGER), Cost_of_Capital_Local_Currency_ (INTEGER)
	Row 1: Heathcare Information and Technology, 128, 1.2747542568245518, 0.0974386958139293, 0.8615496523681622, 0.5415316524692178, 0.053524, 0.0311109029990876, 0.040143, 0.1384503476318378, 0.0895060868106828, 0.0895060868106827
	Row 2: Healthcare Support Services, 119, 1.0326229061406076, 0.0863006536824679, 0.7882476948159491, 0.495257334489641, 0.050855, 0.0808427903603178, 0.03814125, 0.2117523051840508, 0.076102788936416, 0.076102788936416
	Row 3: Hospitals/Healthcare Facilities, 32, 0.879576324903561, 0.0792605109455638, 0.5563496280559845, 0.4632806494431785, 0.050855, 0.0685657680171947, 0.03814125, 0.4436503719440154, 0.0610179355330013, 0.0610179355330013


Schema 3: Table wcdata has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Acc_Rec_Sales (INTEGER), Inventory_Sales (INTEGER), Acc_Pay_Sales (INTEGER), Non_cash_WC_Sales (INTEGER)
	Row 1: Heathcare Information and Technology, 128, 0.1905978772772344, 0.1033615227735673, 0.0699539122720788, 0.2294587527373559
	Row 2: Healthcare Support Services, 119, 0.0673778102069709, 0.0378014818570354, 0.1476884404540714, -0.0652541374156519
	Row 3: Hospitals/Healthcare Facilities, 32, 0.1456206709191285, 0.0221993047034708, 0.0656146602309952, 0.1117341333415825


Schema 4: Table DollarUS has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Average_Company_Age_years_ (INTEGER), Market_Cap_millions_ (INTEGER), Book_Equity_millions_ (INTEGER), Enteprise_Value_millions_ (INTEGER), Invested_Capital_millions_ (INTEGER), Total_Debt_including_leases_millions_ (INTEGER), Revenues_millions_ (INTEGER), Gross_Profit_millions_ (INTEGER), EBITDA_millions_ (INTEGER), EBIT_Operating_Income_millions_ (INTEGER), Net_Income_millions_ (INTEGER)
	Row 1: Heathcare Information and Technology, 128, 22.776785714285715, 738408.3160000001, 171575.33200000005, 821060.925284837, 123028.59595086362, 118661.63228483696, 155242.41099999996, 74003.267, 34169.073000000004, 21790.95854303259, 8883.584000000004
	Row 2: Hospitals/Healthcare Facilities, 32, 25.23333333333333, 122470.973, 11469.825000000004, 216360.12943388568, 87395.24268778635, 97662.13543388566, 138712.903, 49920.916000000005, 24233.965, 16018.714313222865, 7107.354999999999
	Row 3: Household Products, 93, 42.35365853658536, 650300.6159999999, 88515.31300000002, 735763.2897524642, 99815.21822251934, 107660.48975246462, 215472.30899999995, 104939.353, 45619.29299999999, 36587.74384950707, 23883.999000000007


Schema 5: Table inshold has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), CEO_Holding (INTEGER), Corporate_Holdings (INTEGER), Institutional_Holdings (INTEGER), Insider_Holdings (INTEGER)
	Row 1: Heathcare Information and Technology, 128, 0.04988, 0.0408264285714285, 0.470247596153846, 0.1338599999999999
	Row 2: Hospitals/Healthcare Facilities, 32, 0.015661304347826, 0.0204138095238095, 0.5200318181818182, 0.14894
	Row 3: Healthcare Support Services, 119, 0.0664136842105263, 0.0577109523809523, 0.4872983157894737, 0.1775136274509803

In [36]:
sq

Prediction(
    rationale='produce the sql. We first need to gather data on the beta of utility companies and packaging industry. We can do this by joining the tables histgr and wacc on the column Industry_Name. Then, we need to compare the beta values for these two industries. We can do this by selecting the beta column from the joined table and using a WHERE clause to filter for the two industries. Finally, we can use a comparison operator to compare the beta values and return the result.',
    sql="SELECT wacc.Beta FROM histgr INNER JOIN wacc ON histgr.Industry_Name = wacc.Industry_Name WHERE histgr.Industry_Name = 'Utility Companies' OR histgr.Industry_Name = 'Packaging Industry' AND wacc.Beta > histgr.Beta"
)

In [32]:
sq

Prediction(
    rationale='produce the sql. We first need to identify the table that contains information about the beta of different industries. Looking at the given table schemas, we can see that Schema 2 (wacc) contains the column for beta. We then need to filter the rows based on the industry name. In this case, we are looking for the industry "Utility". Therefore, we need to filter the rows where the Industry_Name column has the value "Utility (Water)". Finally, we need to select the beta column from the filtered rows. This will give us the beta of Utility industries.',
    sql="SELECT Beta FROM wacc WHERE Industry_Name = 'Utility (Water)'"
)

In [34]:
with us_engine.connect() as conn:
    result = conn.execute(text(sq.sql))
    print(result.fetchall())
    for row in result:
        print(row)

[(0.7139634340794939,), (0.7139634340794939,), (0.7139634340794939,), (0.7139634340794939,), (0.7139634340794939,), (0.7139634340794939,)]

In [37]:
with us_engine.connect() as conn:
    result = conn.execute(text(sq.sql))
    print(result.fetchall())
    for row in result:
        print(row)

OperationalError: (sqlite3.OperationalError) no such column: histgr.Beta
[SQL: SELECT wacc.Beta FROM histgr INNER JOIN wacc ON histgr.Industry_Name = wacc.Industry_Name WHERE histgr.Industry_Name = 'Utility Companies' OR histgr.Industry_Name = 'Packaging Industry' AND wacc.Beta > histgr.Beta]
(Background on this error at: https://sqlalche.me/e/20/e3q8)